*{
    font: roboto;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: #1F2937;
}

#header-logo{
    font-size: 24px;
    color: #F9FAF8;
    
}

.header-link{
    font-size: 18px;
    color: #e5e7eb;
}

li{
    display: inline-block;
    padding: 0px 20px;
}

.hero-section{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.hero-items{
    flex-direction: column;
}

#odin-intro{
    font-size: 48px;
    font-weight: extra-bold;
}

#odin-img{
    height: 250px;
    width: 250px;
}

.learn-more{
    color: #F9FAF8;
    background-color: #3882f6;
    border-radius: 7px;
    border-style: none;
    height: 50px;
    width: 100px;
}

.information-section{
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 2%;
}

#odin-information{
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    display: flex;
    justify-content: center;
}

.information-section img{
    width: 300px;
    height: 300px;
    border: #1F2937;
    border-radius: 5px;
    border-style: solid;
}

.quote-section{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center
}
#odin-quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
#odin-quote-author{
    font-size: 18px;
    text-align: center;
}