*{
    font: roboto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: #1F2937;
}

#header-logo{
    font-size: 24px;
    color: #F9FAF8;
    
}

.header-link{
    font-size: 18px;
    color: #e5e7eb;
}

li{
    display: inline-block;
    padding: 0px 20px;
}